<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <div id="header"> 
            <h2>Annual Report of our Company</h2> 
       </div>
        <div style="width: 100%;">
            <div style="text-align: center;">
                <table border = "1">
                    <tr>
                       <th></th>
                       <th>Column 2</th>
                       <th>Column 3</th>
                    </tr>
                    <tr>
                       <td rowspan = "8">Dados do Cliente</td>
                       <td>Nome</td>
                       <td>2123123</td>
                      
                    </tr>
                    <tr>
                       <td>Cpf</td>
                       <td>Row 2 Cell 3</td>
                    </tr>
              			<tr>
                       <td>Nome da  Mãe</td>
                       <td>Row 2 Cell 3</td>
                    </tr>
                    </tr>
              			<tr>
                       <td>Data  De Nascimento</td>
                       <td>Row 2 Cell 3</td>
                    </tr>
                    
                 </table>          
                <!-- <table>
                    <% dividas.forEach(divida => {%>
                       <tr><td><%= divida.nome %></td><td><%= divida.valor %></td></tr>
                    <%  });%>
                </table> -->
             </div>
        </div>
    </body>
</html>