<!DOCTYPE html>
<html>
    <head>
        <style>
          #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            caption-side: top;
          
          }
          
          caption {
            background: #ddd;
            padding: 10px;
          }
          
          #customers td, #customers th {
            border: none;
            padding: 8px;
          }
          
          #customers tr{background-color: #f2f2f2;}
          
          
          #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #aaaaaa;
            color: white;
          }
        </style>
    </head>
    <body>
      
      <div style="width: 100%;">
        <div style="text-align: center;">            
          <table  >
            <tr>
              <td>
                <div class="row" style="text-align: left;"><b>nome</b> </div>
                <div class="row"> noasdasdasdasdsadme </div>
              </td>
              <td>
                <div class="row"> nome </div>
                <div class="row"> noasdasdasdasdsadme </div>
              </td>
              <td>
                <div class="row"> nome </div>
                <div class="row"> noasdasdasdasdsadme </div>
              </td>
            </tr>
          </table>
         </div>           
       </div>

        <div style="width: 100%;">
            <div style="text-align: center;">            
              <table id="customers" >
                <capition> Dividas Em Aberto </capition>
                <tr>
                  <th>Ocorrência</th>
                  <th style=" text-align: center">Valor</th>
                </tr>
                   <% infoDividas.forEach(function(divida){ %>
                  <tr>
                    <td style=" text-align: left"><%=  divida.nome %>  </td>
                    <td><%=  divida.valor %></td>
                  </tr>
                <% }); %>
              </table>
             </div>           
        </div>
    </body>
</html>