<!DOCTYPE html>
<html>
    <head>
        <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #1e41db;
          color: white;
        }
        .leftAling {
           text-align: left;
        }
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solitdd black;
        }
        </style>
    </head>
    <body>
        <div id="header"> 
            <h2>Dividas</h2> 
       </div>
        <div style="width: 100%;">
            <div style="text-align: center;">
                <table border = "1" id="customers">
                    <tr>
                       <th colspan ="3" > Dados </th>
                    </tr>
                    <tr>
                       <td rowspan = "8">Dados do Cliente</td>
                       <td style="text-align: left;" >Nome</td>
                       <td><%= infoPessoais.nome %></td>
                      
                    </tr>
                    <tr>
                       <td style="text-align: left;" >CPF</td>
                       <td><%= infoPessoais.CPF %></td>
                    </tr>
              			<tr>
                       <td style="text-align: left;" >Nome da  Mãe</td>
                       <td>taaaaa ligado</td>
                    </tr>
                    </tr>
              			<tr>
                       <td style="text-align: left;" >Data  De Nascimento</td>
                       <td><%= infoPessoais.DataNascimento %></td>
                    </tr>
                    
                 </table>          
               
             </div>
            
     
        </div>
    </body>
</html>